@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul {
  margin-bottom: 0px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex_fill {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 -15px;
}

.col-md-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.col-md-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  max-width: 33.33%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.header_sec {
  background-color: #fff;
}

.top_navbar {
  padding: 15px 0;
}

.top_navbar a img {
  width: 350px;
}

.menubar {
  background-color: #e1e1e1;
}

.menubar ul li {
  display: inline-block;
}

.menubar ul li a {
  color: #676767;
  display: block;
  padding: 20px 35px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.menubar ul li a:hover {
  background-color: #6fba1c;
  color: #fff;
}

.menuActive {
  background-color: #6fba1c;
  color: #fff !important;
}

.setting a {
  font-size: 14px;
  display: block;
  text-align: right;
  margin-top: 20px;
}

.banner {
  padding: 30px 0;
}

.banner .banner_desc {
  padding-top: 30px;
}

.banner .banner_desc h2 {
  color: #4a4a4a;
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 55px;
}

.banner .banner_desc h2:first-child {
  font-weight: 300;
}

.banner .banner_desc h2:first-child span {
  color: #6fba1c;
  font-weight: 600;
}

.banner_text {
  margin: 20px 0;
}

.banner_text h6 {
  font-size: 1.8rem;
  color: #9d9d9d;
  font-weight: 300;
}

.survey_sec {
  background-color: #6fba1c;
  padding: 50px 0;
}

.survey_head h2 {
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 2.5rem;
}

.survey_head h2 span {
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 3rem;
}

.survey_btn button {
  background-color: #475bb6;
  padding: 20px 30px;
  color: #fff;
  border: 0;
  font-size: 1.8rem;
  cursor: pointer;
  margin-top: 100px;
  display: block;
  margin: 100px auto 0;
}

.footer {
  background-color: #2c2c2c;
  padding: 25px 0;
}

.footer .footer_copy_head p {
  color: #676767;
  margin-top: 15px;
  margin-bottom: 0;
}

.main_survey {
  height: 600px;
}

.main_survey .survey_pics {
  width: 35%;
  background-color: #6fba1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 600px;
}

label {
  color: #616161;
}

.survey_form {
  padding: 30px 50px;
  background-color: #f1f1f1;
}

.survey_form h1 {
  color: #676767;
  font-size: 3.5rem;
}

.survey_form h1 span {
  font-weight: 300;
}

form {
  margin-top: 30px;
}

.form_control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0.375rem 0.75rem;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #616161;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #9d9d9d;
}

.form_control::-webkit-input-placeholder {
  font-size: 1.6rem;
  color: #616161;
}

.form_control:-ms-input-placeholder {
  font-size: 1.6rem;
  color: #616161;
}

.form_control::-ms-input-placeholder {
  font-size: 1.6rem;
  color: #616161;
}

.form_control::placeholder {
  font-size: 1.6rem;
  color: #616161;
}

select {
  color: #616161;
}

.form_group {
  margin-bottom: 30px;
}

.provide_btn {
  background-color: #475bb6;
  width: 100%;
  padding: 15px;
  color: #fff;
  border: 0;
}

.social_icon {
  text-align: right;
}

.social_icon li {
  display: inline-block;
}

.social_icon li a i {
  background-color: #9d9d9d;
  color: #2c2c2c;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px 12px;
  font-size: 19px;
}

.overlay {
  background: #0000005c;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
}

.gender_input {
  font-size: 16px;
  margin-top: 5px;
}

.gender_name {
  font-weight: 600;
}

.login_wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.login_wrap .login_box {
  background: #6fba1c;
  padding: 30px;
  border-radius: 5px;
  width: 400px;
  height: 300px;
  position: relative;
}

.login_wrap .login_box .closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}

.login_wrap .login_box .closebtn i {
  cursor: pointer;
}

.login_wrap .login_box .login_head h4 {
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 45px;
}

.login_wrap .login_box .login_form {
  margin-top: 30px;
}

.login_wrap .login_box .login_form .form_group {
  margin-bottom: 15px;
}

.login_wrap .login_box .login_form input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0.375rem 0.75rem;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: transparent;
  border: 0;
  color: #fff;
  border-bottom: solid 1px #fff;
}

.login_wrap .login_box .login_form input::-webkit-input-placeholder {
  color: #fff;
}

.login_wrap .login_box .login_form input:-ms-input-placeholder {
  color: #fff;
}

.login_wrap .login_box .login_form input::-ms-input-placeholder {
  color: #fff;
}

.login_wrap .login_box .login_form input::placeholder {
  color: #fff;
}

.login_wrap .login_box .login_form button {
  color: #fff;
  border: 0;
  color: #2c2c2c;
  padding: 10px 30px;
  border-radius: 50px;
}

.openLoginPopup {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.screen_head h1 {
  font-size: 30px !important;
}

.dish img {
  margin-top: 50px;
}

.dish .cereal_name {
  text-align: center;
  color: #2c2c2c;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0;
}

.dish_no {
  padding: 50px;
}

.dish_no ul li {
  display: inline-block;
}

.dish_no ul li span {
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: #475bb6;
  border-radius: 50%;
  color: #fff;
  padding: 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  cursor: pointer;
}

.active_number {
  background-color: #6fba1c !important;
}

.dishName {
  margin: 0;
  text-align: center;
  font-size: 17px;
  color: #2c2c2c;
}

.consume_name {
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.consume_name div {
  background-color: #e1e1e1;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  margin: 0 5px;
}

.active_consume_name div {
  background-color: #6fba1c !important;
  color: #fff !important;
}
/*# sourceMappingURL=style.css.map */