// Font initilaztion
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");

// Theme color Setting
$green_color: #6fba1c;
$gray_color: #e1e1e1;
$blue_color: #475bb6;
$black_color: #2c2c2c;
$darkgray_color: #9d9d9d;
$white_color: #fff;

$text-color: #676767;

// reboot default css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
ul {
  margin-bottom: 0px;
  li {
    list-style: none;
  }
}
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}
.container {
  max-width: 1140px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}
.d_flex {
  display: flex;
}
.flex_fill {
  flex-grow: 1;
}
.row {
  display: flex;
  padding: 0 -15px;
}
.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}
.col-md-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
// Navigation section css
.header_sec {
  background-color: $white_color;
}
.top_navbar {
  padding: 15px 0;
  a {
    img {
      width: 350px;
    }
  }
}
.menubar {
  background-color: $gray_color;
}
.menubar {
  ul {
    li {
      display: inline-block;
      a {
        color: $text-color;
        display: block;
        padding: 20px 35px;
        transition: all ease-in-out 0.3s;
        &:hover {
          background-color: $green_color;
          color: $white_color;
        }
      }
    }
  }
}
.menuActive {
  background-color: $green_color;
  color: $white_color !important;
}
.setting {
  a {
    font-size: 14px;
    display: block;
    text-align: right;
    margin-top: 20px;
  }
}

// Banner section css
.banner {
  padding: 30px 0;
  .banner_desc {
    padding-top: 30px;
    h2 {
      color: #4a4a4a;
      font-size: 44px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 55px;
      &:first-child {
        font-weight: 300;
        span {
          color: $green_color;
          font-weight: 600;
        }
      }
    }
  }
}
.banner_text {
  margin: 20px 0;
  h6 {
    font-size: 1.8rem;
    color: $darkgray_color;
    font-weight: 300;
  }
}
// survey_sec section css
.survey_sec {
  background-color: $green_color;
  padding: 50px 0;
}
.survey_head {
  h2 {
    color: $white_color;
    text-align: center;
    font-weight: 300;
    font-size: 2.5rem;
    span {
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 3rem;
    }
  }
}
.survey_btn {
  button {
    background-color: $blue_color;
    padding: 20px 30px;
    color: $white_color;
    border: 0;
    font-size: 1.8rem;
    cursor: pointer;
    margin-top: 100px;
    display: block;
    margin: 100px auto 0;
  }
}

// footer section css
.footer {
  background-color: $black_color;
  padding: 25px 0;
  .footer_copy_head {
    p {
      color: $text-color;
      margin-top: 15px;
      margin-bottom: 0;
    }
  }
}

// Main Survey Csss
.main_survey {
  height: 600px;
  .survey_pics {
    width: 35%;
    background-color: $green_color;
    display: flex;
    justify-content: flex-end;
    height: 600px;
  }
}
label {
  color: #616161;
}
.survey_form {
  padding: 30px 50px;
  background-color: #f1f1f1;
  h1 {
    color: $text-color;
    font-size: 3.5rem;
    span {
      font-weight: 300;
    }
  }
}
form {
  margin-top: 30px;
}
.form_control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0.375rem 0.75rem;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #616161;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid $darkgray_color;
  &::placeholder {
    font-size: 1.6rem;
    color: #616161;
  }
}
select {
  color: #616161;
}
.form_group {
  margin-bottom: 30px;
}
.provide_btn {
  background-color: $blue_color;
  width: 100%;
  padding: 15px;
  color: $white_color;
  border: 0;
}
.social_icon {
  text-align: right;
  li {
    display: inline-block;
    a {
      i {
        background-color: $darkgray_color;
        color: $black_color;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 10px 12px;
        font-size: 19px;
      }
    }
  }
}
.overlay {
  background: #0000005c;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
}
.gender_input {
  font-size: 16px;
  margin-top: 5px;
}
.gender_name {
  font-weight: 600;
}
// login login_wrap css
.login_wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all ease-in-out 0.3s;
  .login_box {
    background: $green_color;
    padding: 30px;
    border-radius: 5px;
    width: 400px;
    height: 300px;
    position: relative;
    .closebtn {
      position: absolute;
      top: 10px;
      right: 10px;
      color: $white_color;
      i {
        cursor: pointer;
      }
    }
    .login_head {
      h4 {
        color: $white_color;
        text-align: center;
        font-weight: 300;
        font-size: 45px;
      }
    }
    .login_form {
      margin-top: 30px;
      .form_group {
        margin-bottom: 15px;
      }
      input {
        display: block;
        width: 100%;
        height: 40px;
        padding: 0.375rem 0.75rem;
        font-size: 1.6rem;
        line-height: 1.5;
        background-color: transparent;
        border: 0;
        color: $white_color;
        border-bottom: solid 1px $white_color;
        &::placeholder {
          color: $white_color;
        }
      }
      button {
        color: $white_color;
        border: 0;
        color: $black_color;
        padding: 10px 30px;
        border-radius: 50px;
      }
    }
  }
}
.openLoginPopup {
  transform: scale(1);
}
.screen_head {
  h1 {
    font-size: 30px !important;
  }
}
.dish {
  img {
    margin-top: 50px;
  }
  .cereal_name {
    text-align: center;
    color: $black_color;
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0;
  }
}

// dish number
.dish_no {
  padding: 50px;
  ul {
    li { 
      display: inline-block;
      span {
        width: 50px;
        height: 50px;
        margin: 10px;
        background-color: $blue_color;
        border-radius: 50%;
        color: $white_color;
        padding: 5px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        cursor: pointer;
      }
    }
  }
}

.active_number{
  background-color: $green_color!important;
}
.dishName{
  margin: 0;
  text-align: center;
  font-size: 17px;
  color: $black_color; 
}
.consume_name{
  margin-top: 50px;
  justify-content: space-between; 
  div{
    background-color: $gray_color;
    height: 50px;
    display: flex;
    justify-content: center; 
    padding-top: 15px;
    margin: 0 5px;
  }
}
.active_consume_name { 
    background-color: $green_color!important;
    color: $white_color!important; 
}